@page "/animals"
@using BlazorWasm.Shared
@using System.Text.Json
@using System.Net.Http
@using System.Net
@inject HttpClient Http

@attribute [Authorize]

<PageTitle>Tous les animaux</PageTitle>

<h1>Tous les animaux</h1>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">@errorMessage</div>
}
else if (animal == null)
{
    <LoadingPageAnimation />
}
else if (animal.Count() == 0)
{
    <div class="d-flex flex-column">
        <p class="text-center m-5 fs-3 fst-italic">Aucun animal n'existe dans votre zoo!</p>
        <div class="card mx-auto" style="width: 18rem; overflow:hidden;">
            <img src="https://th.bing.com/th/id/R.738c412af61dc12d6c1f77c01d7b4ffb?rik=QJ2OC04jwCElsQ&riu=http%3a%2f%2ficons.iconarchive.com%2ficons%2fpaomedia%2fsmall-n-flat%2f1024%2fsign-add-icon.png&ehk=Nvs%2bq0fI7%2bINjO0YZVIyv5jtPJCfahnbTfVX4gjoXFE%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="Image d'un + pour ajouter un animal" style="height: 200px;">
            <div class="card-body">
                <h4 class="card-title">Création</h4>
                <p class="card-text"><em>Cliquez sur Ajouter pour ouvrir le menu de création d'animal</em></p>
                <a href="#" class="btn btn-primary">Ajouter</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="d-flex justify-content-center align-items-center flex-wrap">

        <div class="card m-2" style="width: 18rem; overflow:hidden;">
            <img src="https://th.bing.com/th/id/R.738c412af61dc12d6c1f77c01d7b4ffb?rik=QJ2OC04jwCElsQ&riu=http%3a%2f%2ficons.iconarchive.com%2ficons%2fpaomedia%2fsmall-n-flat%2f1024%2fsign-add-icon.png&ehk=Nvs%2bq0fI7%2bINjO0YZVIyv5jtPJCfahnbTfVX4gjoXFE%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="Image d'un + pour ajouter un animal" style="height: 200px;">
            <div class="card-body">
                <h4 class="card-title">Création</h4>
                <p class="card-text"><em>Cliquez sur Ajouter pour ouvrir le menu de création d'animal</em></p>
                <a href="#" class="btn btn-primary">Ajouter</a>
            </div>
        </div>

        @foreach (Animal a in animal)
        {
            <div class="card m-2" style="width: 18rem; overflow:hidden;">
                <img src="@ImageSrc[a.Name]" class="card-img-top" alt="Photo de @a.SpeciesData.Name" style="height: 200px; object-fit:cover;">
                <button type="button" class="btn btn-danger position-absolute top-0 end-0 m-2 rounded-circle">
                    <span aria-hidden="true">X</span>
                </button>
                <div class="card-body">
                    <h4 class="card-title">@a.Name</h4>
                    <h6 class="card-title">@a.SpeciesData.Name</h6>
                    <p class="card-text"><em>@a.SpeciesData.ScientificName</em></p>
                    <a href="#" class="btn btn-primary">Modifier</a>
                </div>
            </div>
        }
    </div>
}

@code {
    

    private Animal[]? animal;
    private Dictionary<string, string> ImageSrc = new();
    private string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        //await Task.Delay(2000);//pour simuler un long délai et voir le chargement
        try
        {
            animal = await Http.GetFromJsonAsync<Animal[]>("/Animals");
        }
        catch (HttpRequestException ex)
        {
            if (ex.StatusCode == HttpStatusCode.Forbidden)
            {
                errorMessage = "Vous n'avez pas les autorisations nécessaires pour consulter la liste des animaux.";
            }
            else
            {
                // Gérer les autres types d'erreurs HTTP
                errorMessage = "Une erreur est survenue lors de la récupération des animaux.";
            }
        }

        if (animal != null)
        {
            foreach (var a in animal)
            {
                var imgUrl = a.Pics.Count() == 0 ? "#" : $"https://localhost:7015/{a.Pics[0].Slug}";
                ImageSrc.Add(a.Name, imgUrl);
            }
        }
    }
}